body {
    background: #323437;
    color: #646669;
    font-family: monospace;
}

.container {
    width: 70%;
    margin: 100px auto;
}

#stats {
    color: #e2b714;
    font-size: 20px;
    margin-bottom: 30px;
}

#code {
    font-size: 22px;
    line-height: 1.6;
}

/* characters */
.char {
    opacity: 0.5;
}

.correct {
    color: #d1d0c5;
    opacity: 1;
}

.wrong {
    color: #ca4754;
}


.active {
    border-left: 2px solid #e2b714;
    padding-left: 2px;
    animation: blink 1s infinite;
}

@keyframes blink {
    50% { border-color: transparent; }
}

.hidden {
    display: none;
}

#result {
    margin-top: 40px;
    font-size: 24px;
    color: #e2b714;
}