body {
    margin: 0;
    font-family: monospace;
}

/* THEMES */
body.dark { background: #2a2d31; color: #b9bbbe; }
body.light { background: #f5f5f5; color: #333; }
body.neon { background: #0f172a; color: #22c55e; }

.app { display: flex; }

/* SIDEBAR */
.sidebar {
    width: 220px;
    height: 100vh;
    padding: 20px;
}

.sidebar button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.sidebar button.active-btn {
    background: #ffd166;
    color: black;
}

/* MAIN */
.main {
    flex: 1;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* TOPBAR */
.topbar {
    position: absolute;
    top: 20px;
    right: 30px;
}

#themeBtn {
    padding: 8px 12px;
    border: none;
    cursor: pointer;
}

/* STATS */
#stats {
    font-size: 20px;
    margin-bottom: 30px;
    color: #ffd166;
}

#stats span {
    margin-right: 20px;
}

/* CODE */
#code {
    width: 70%;
    font-size: 24px;
    line-height: 1.7;
    padding: 20px;
    border-radius: 8px;
}

body.dark #code { background: #23272a; }
body.light #code { background: #fff; }
body.neon #code { background: #020617; box-shadow: 0 0 20px #22c55e; }

/* TYPING */
.char { opacity: 0.4; }
.correct { color: white; opacity: 1; }
.wrong { color: red; }

/* CURSOR */
.active {
    border-left: 2px solid #ffd166;
    animation: blink 1s infinite;
}

@keyframes blink {
    50% { border-color: transparent; }
}

/* RESULT */
.hidden { display: none; }

#result {
    margin-top: 40px;
    font-size: 24px;
    text-align: center;
}